body {
    margin: 0;
    font-family: Wanted;
    background: #f0f0f0;
}

/* .header {
    background: url('../assets/Group\ 42.png');
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 9vh;
    display: flex;
    align-items: flex-end;
    padding: 18px;
    color: white;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-title {
    font-size: 20px;
} */

.title{
    font-size: 20px;
    margin-top: 5%;
    color: var(--dark-blue);
    width: 70%;
    max-width: 600px;
    justify-self: center;
}


.penjelasan {
    margin-top: 3rem;
    color: #515151;
    font-size: 14px;
    width: 70%;
    max-width: 600px;
    justify-self: center;
    text-align: justify;
}

.confirmation{
    display: flex;
    margin-top: 3rem;
    justify-self: center;
    justify-content: space-between;
    width: 70%;
    max-width: 600px;
    
}

.confirmation button{
    align-content: center;
    font-size: 16px;
    color: #f0f0f0;
    font-weight: bold;
    width: 40%;
    background-color: #898989;
    border: none;
    border-radius: 10px;
    height: 39px;
    font-family: Wanted;
}

.confirmation a{
    text-decoration: none;
    color: #f0f0f0;
}

.confirmation .active{
    align-content: center;
    font-size: 16px;
    color: #f0f0f0;
    font-weight: bold;
    width: 40%;
    background-color: var(--light-blue);
    border: none;
    border-radius: 10px;
    height: 39px;
}