/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Wanted;
    background: #f0f0f0;
}
/* 
.header {
    background: url(../assets/Group\ 42.png);
    color: #f0f0f0;
    font-size: 20px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 9vh;
    display: flex;

}

.header-content {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin: 18px;
} */

.top {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 30px;
}

.title-mutasi {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-blue);
    font-size: 20px;
}

.title-date {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #515151;
    font-size: 14px;
}

#transaction-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 10rem;
}

.search-bar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    margin-bottom: 22px;
}

.search-bar input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 12px;
    width: 80%;
    border: 1px solid #CACACA;
    border-radius: 10px;
    font-family: Wanted;
}

.search-bar button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    border: none;
    cursor: pointer;
}

.date-section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #D9D9D9;
    padding: 1px 0;
}

.date-section h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 10px 15px;
    font-size: 13px;
    color: #515151;
}

.transaction {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-top: 1px solid #CACACA;
}

.transaction:first-child {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: none;
}

.avatar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 10px;
}

.transaction-details {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transaction-name {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    margin-bottom: 7px;
}

.transaction-desc {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    color: #898989;
}

.transaction-time {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 11px;
    color: #898989;
    margin-top: 1px;
}

.transaction-amount {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-left: 10px;
}

.transaction-amount.plus {
    color: #3c9421;
}

.transaction-amount.minus {
    color: #a91f12;
}


