body {
    margin: 0;
    font-family: Wanted;
    background: #f0f0f0;
}

/* .header {
    background: url(../assets/Group\ 42.png);
    color: #f0f0f0;
    font-size: 20px;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 9vh;
    display: flex;

}

.header-content {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 18px;
} */

.back{
    margin: 4px;
}


.back {
    margin-right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.container {
    padding: 20px;
}

h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--dark-blue);
    font-family: Wanted;
    width: 100%;
}

.info{
    font-size: 20px;
    margin-top: 5%;
    width: 70%;
    max-width: 600px;
    justify-self: center;
    justify-items: center;
}

.transaction, .periode, .button-wrapper {
    width: 70%;
    max-width: 600px;
    justify-self: center;
}

.button-wrapper {
    display: flex;
    justify-content: right;
}

.rekening-card {
    background: var(--brown-gradient);
    color: #f0f0f0;
    border-radius: 15px;
    padding: 15px;
    height: 17vh;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    align-self: center;
}

.card-icon {
    margin: 5px;
    position: absolute;

}

.card-info {
    display: flex;
    flex-direction: row;
    gap: 110px;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}

.card-number {
    font-size: 16px;
}

.card-name {
    font-size: 14px;
    text-align: right;
}

.transaction-type {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 20px;
}

.transaction-type > .tab {
    width: 100%;
    padding: 10px 0;
    border: none;
    background: #175f92;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Wanted;
}

.transaction-type .sub-tabs {
    display: flex;
    background: #cacaca;
    border-radius: 10px;
    overflow: hidden;
}

.transaction-type .sub-tabs .tab {
    flex: 1;
    padding: 10px 0;
    background: transparent;
    border: none;
    color: #515151;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    font-family: Wanted;
}

.transaction-type .sub-tabs .tab:first-child {
    border-right: 1px solid #898989;
}

.transaction-type .sub-tabs .tab.active {
    background: linear-gradient(90deg, #175F92 0%, #0C5D9F 100%);
    color: white;
}

.period-select select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-family: Wanted;
}

.next-button {
    width: 115px;
    height: 39px;
    background: #175f92;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: Wanted;
}

a{
    text-decoration: none;
    color: inherit;
}

