.form{
    /* border: 1px solid; */
    padding: 2rem;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: Wanted;
    width: 70%;
    max-width: 600px;
    justify-self: center;
}
.form label{
    color: var(--dark-blue);
    font-size: larger;
    font-family: Wanted;
}
.form input[type=text]{
    border: none;
    border-bottom: 1px solid;
    color: var(--gray);
    font-family: Wanted;
}
.form select{
    border: none;
    border-bottom: 1px solid var(--gray);
    font-family: Wanted;
}
.form input[type=button]{
    border: none;
    border-radius: 10px;
    width: 25%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: var(--blue);

    color: white;
    font-weight: normal;

    position: absolute;
    right: 10%;
    bottom: -50px;
    font-family: Wanted;
}