@font-face {
  font-family: Wanted;
  src: url(/fonts/WantedSans-Regular.otf);
}

@font-face {
  font-family: Wanted;
  src: url(/fonts/WantedSans-Regular.otf);
  font-weight: 500;
}

#back-arrow {
    width: 0.5rem;
}

:root{
    /* colors */
    --gray: #CACACA;
    --blue-gradient: linear-gradient(to bottom right, #004474, #0963A3);
    --dark-blue-gradient: linear-gradient(to bottom right, #032844, #0f4d79);
    --lighter-blue-gradient: linear-gradient(to bottom right, #B0D2E9, #CFEBFF);
    --brown-gradient: linear-gradient(to bottom right, #742700, #A35B09);
    --green-gradient: linear-gradient(to bottom right, #42C01C, #1F5A0D);
    --red-gradient: linear-gradient(to bottom right, #D42C1D, #6E170F);
    --dark-blue: #004474;
    --blue: #0963A3;
    --light-blue: #236B9E;
    --lighter-blue: #7FB1D4;

    --w: 393px;
    --h: 852px;

    --shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

html{
    /* border: 1px solid; */
    /* position: relative; */
    height: var(--h);
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    height: var(--h);
    position: relative;
}


.background-gradient{
    background: var(--blue-gradient);
}

.blue-button{
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    background: var(--light-blue);

    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    font-family: Wanted;
}

.white-button{
    /* border: 1px solid; */
    border-radius: 20px;
    box-shadow: var(--shadow);
    color: var(--dark-blue);
    background: white;
    
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
    font-family: Wanted;
}

.small-white-button{
    /* border: 1px solid; */
    display: block;
    border-radius: 100px;
    background: white;
    box-shadow: var(--shadow);
    width: 3.5rem;
    height: 3.5rem;
    /* padding: 1rem; */

    align-content: center;
    text-align: center;
    font-family: Wanted;
}
.small-blue-button{
     /* border: 1px solid; */
    display: block;
    border-radius: 20px;
    background: var(--lighter-blue);
    box-shadow: var(--shadow);
    width: 4rem;
    height: 4rem;
    /* padding: 1rem; */

    align-content: center;
    text-align: center;
    font-family: Wanted;
}

.header{
    /* border: 1px solid; */
    border-radius: 0 0 15px 15px;
    box-shadow: var(--shadow);
    background: var(--dark-blue-gradient);

    position: relative;

    height: 15dvh;
    font-family: Wanted;
}
.header img{
    position: absolute;
    left: 5%;
    bottom: 25%;
    width: 30vh;
}
.header h2{
    position: absolute;
    margin: 0;
    left: 10%;
    bottom: 20%;

    color: white;
    font-weight: normal;
    font-family: Wanted;
}

footer{
    position: relative;
    bottom: -20px;
    margin: 0px;
    padding: 0px;
    font-family: Wanted;
}

.navbar{
    width: 100%;
    height: 8dvh;
    position: fixed;
    background: var(--lighter-blue-gradient);
    bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    font-family: Wanted;
    padding-top: 1rem;
}
.navbar .left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.navbar .right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
}

.navbar-item{
    color: var(--lighter-blue);
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.navbar-item .menu{
    margin-bottom: 1vh;
}
.navbar-item .icon{
    height: 5vh;
    width: 5vh;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.navbar-center-item{
    border-radius: 100px;
    background: var(--blue-gradient);
    width: 70px;
    height: 70px;
    position: absolute;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon-beranda {
    width: 100%;
    margin-top: 20%;
}

#icon-transaksi {
    width: 80%;
    margin-bottom: 5%;
}

#icon-notifikasi {
    width: 90%;
    margin-top: 10%;
}

#icon-akun {
    width: 80%;
    margin-bottom: 5%;
}

.popup-success{
    margin-top: 50%;
    padding: 0;
    border-radius: 20px;
    background: var(--green-gradient);
    width: 70%;
    height: 4rem;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;
    justify-self: center;
    color: white;
    font-weight: normal;
}
.popup-success h2{
    margin: 0;
}

.popup-failed{
    margin-top: 50%;
    padding: 0;
    border-radius: 20px;
    background: var(--red-gradient);
    width: 70%;
    height: 4rem;
    z-index: 999;

    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;
    justify-self: center;
    color: white;
    font-weight: normal;
    font-family: Wanted;
}
.popup-failed h2{
    margin: 0;
}